<div>
    <h2 id="page-heading">
        <span jhiTranslate="ccwApplicationApp.collectionTracking.home.title">Collection Trackings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-collection-tracking" [routerLink]="['/collection-tracking/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ccwApplicationApp.collectionTracking.home.createLabel">
            Create a new Collection Tracking
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="collectionTrackings?.length === 0">
        <span jhiTranslate="ccwApplicationApp.collectionTracking.home.notFound">No collectionTrackings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="collectionTrackings && collectionTrackings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.eMPID">E MPID</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.eMPNAME">E MPNAME</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.uNITID">U NITID</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.pROMISEDATE">P ROMISEDATE</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.cOMMENTS">C OMMENTS</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.bUSINESSPROPOSALNO">B USINESSPROPOSALNO</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.sUBPROPOSALNO">S UBPROPOSALNO</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.mOBILENO">M OBILENO</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.aCCOUNTNO">A CCOUNTNO</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.accountTitle">Account Title</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.oDDays">O D Days</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.oSAmount">O S Amount</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.oSProfit">O S Profit</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.cROID">C ROID</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.cRONAME">C RONAME</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.rELATIONID">R ELATIONID</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.wILLINGTOPAY">W ILLINGTOPAY</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.fOLLOWUPDATE">F OLLOWUPDATE</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.dELINQUENCYREASON">D ELINQUENCYREASON</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.vISITEDBY">V ISITEDBY</span></th>
                    <th scope="col" ><span jhiTranslate="ccwApplicationApp.collectionTracking.cREATEDON">C REATEDON</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let collectionTracking of collectionTrackings ;trackBy: trackId">
                    <td><a [routerLink]="['/collection-tracking', collectionTracking.id, 'view']">{{ collectionTracking.id }}</a></td>
                    <td>{{ collectionTracking.eMPID }}</td>
                    <td>{{ collectionTracking.eMPNAME }}</td>
                    <td>{{ collectionTracking.uNITID }}</td>
                    <td>{{ collectionTracking.pROMISEDATE | date:'mediumDate' }}</td>
                    <td>{{ collectionTracking.cOMMENTS }}</td>
                    <td>{{ collectionTracking.bUSINESSPROPOSALNO }}</td>
                    <td>{{ collectionTracking.sUBPROPOSALNO }}</td>
                    <td>{{ collectionTracking.mOBILENO }}</td>
                    <td>{{ collectionTracking.aCCOUNTNO }}</td>
                    <td>{{ collectionTracking.accountTitle }}</td>
                    <td>{{ collectionTracking.oDDays }}</td>
                    <td>{{ collectionTracking.oSAmount }}</td>
                    <td>{{ collectionTracking.oSProfit }}</td>
                    <td>{{ collectionTracking.cROID }}</td>
                    <td>{{ collectionTracking.cRONAME }}</td>
                    <td>{{ collectionTracking.rELATIONID }}</td>
                    <td>{{ collectionTracking.wILLINGTOPAY }}</td>
                    <td>{{ collectionTracking.fOLLOWUPDATE | date:'mediumDate' }}</td>
                    <td>{{ collectionTracking.dELINQUENCYREASON }}</td>
                    <td>{{ collectionTracking.vISITEDBY }}</td>
                    <td>{{ collectionTracking.cREATEDON | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/collection-tracking', collectionTracking.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/collection-tracking', collectionTracking.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(collectionTracking)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
